<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd     
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- 只需要扫描包中的 Controller 注解 -->
	<context:component-scan base-package="com.ugm.equipmentmanager.controller,com.ugm.site.controller">
	<context:include-filter type="annotation"
		expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<!-- 启动 mvc 注解驱动 -->
	<mvc:annotation-driven></mvc:annotation-driven>
	
	
	<!-- 静态资源处理 -->
	<mvc:default-servlet-handler/>
	
	<!-- 配置视图解析器 -->
<!-- 	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/content/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean> -->
	

    <!-- 自动扫描该包，SpringMVC会将包下用了@controller注解的类注册为Spring的controller -->
    <context:component-scan base-package="com.ugm.user.controller,com.ugm.equipmentmanager.controller,com.ugm.site.controller" />
    <!-- 设置默认配置方案 -->
    <mvc:annotation-driven />
    <!-- 使用默认的Servlet来响应静态文件 -->
    <mvc:default-servlet-handler />
    
    <!-- 拦截器 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/*" />
            <mvc:mapping path="/admin/*" />       
            <mvc:mapping path="/admin_user/*" />
            <mvc:mapping path="/admin_comp/*" />
            <mvc:mapping path="/admin_equi/*" />
            <mvc:mapping path="/admin_area/*" />
            <mvc:mapping path="/users/*" />    
            <mvc:mapping path="/users_user/*" />
            <mvc:mapping path="/users_comp/*" />
            <mvc:mapping path="/users_equi/*" />
            <mvc:mapping path="/users_area/*" />
            
            <bean class="com.ugm.user.interceptor.InterceptorIndex" /> 
        </mvc:interceptor>
    </mvc:interceptors>
    
    <mvc:view-controller path="/" view-name="index"></mvc:view-controller>
    <!-- 视图解析器 p:prefix属性表示前缀 p:suffix 表示后缀 -->
    <bean
        id="viewResolver"
        class="org.springframework.web.servlet.view.InternalResourceViewResolver"
        p:prefix="/WEB-INF/content/"
        p:suffix=".jsp" />
        


</beans>