* {
	font-size: 20px;
}

.navbar-brand:hover, a[disabled]:hover {
	cursor: default;
}

#logo {
	background: #ccc;
}

.clicked {
	background: #8FBC8F;
	font-weight: bold;
	color: #000;
}

.navbar-default .navbar-nav>li>a {
	color: #000;
}

.navbar-default .navbar-nav>li>a[href]:hover {
	background: #8FBC8F;
}

.col-md-2 {
	padding-right: 0;
}

.verticalnav {
	background-color: #B0C4DE;
}

.col-md-10 {
	background-color: #99CC99;
}
a {
	color: black;
}

td {
	word-break: break-all;
	word-wrap: break-all;
	font-weight: bolder;
}

td:nth-child(1) {
	width: 30%;
}

td:nth-child(2) {
	width: 70%;
}

#userTitle td:nth-child(1) {
	width: 20%
}

#userTitle td:nth-child(2), #userTitle td:nth-child(3) {
	width: 40%
}

#userRight td:nth-child(1) {
	width: 20%;
}

#userRight td:nth-child(2) {
	width: 25%;
}

#userRight td:nth-child(3) {
	width: 50%;
}

#userRight td:nth-child(4) {
	width: 5%;
}

#news td:nth-child(1) {
	width: 15%;
}

#news td:nth-child(2) {
	width: 70%;
}

#news td:nth-child(3)[rowspan="2"] {
	width: 15%;
}

#infoLatest th, #infoLatest td:nth-child(1), #infoLatest td:nth-child(2)
	{
	color: white;
}

#info td:nth-child(1) {
	width: 20%;
}

#info td:nth-child(2) {
	width: 80%;
}

#changePage, #changePage button {
	margin-bottom: 10px;
}

.row {
	width: 101%;
}

#nav {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.verticalnav a {
	display: block;
	height: 32px;
	line-height: 32px;
	text-align: center;
	color: #666;
	text-decoration: none;
}

.verticalnav li a:hover, .verticalnav li a.current {
	color: #fff;
	background: #008080;
}

.verticalnav li a.current {
	border-left: 5px solid #ff5f3e;
}